* {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
}

.navBar {
    background-color: black;
    color: white;
    text-align: center;
}

.navBar h1 {
    padding: 1em
}

@media only screen and (min-width: 600px) {
    .navbar {
        font-size: 1.5em
    }
  }


.navBar ul {
    display: inline-block;
    justify-content: center;
    list-style-type: none;
    display: flex;
}

.navBar ul li {
    padding: 1em;
}

.navBar ul li a{
    text-decoration: none;
    color: inherit;
}